ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

:root {

  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --sidebar-width: 200px;
  --default-font-weight: 400;
}

body {

  background-color: var(--color-base2);
  color: var(--color-body);
}

h1,h2,h3,h4,h5,h6 {

  color: var(--color-heading);
  font-weight: var(--default-font-weight);
}

img {

  width: 100%;
}
/* navbar class */

@media (min-width: 992px){

  .navbar{

    min-height: 100vh;  /* sidebar runs all the way down */
    width: var(--sidebar-width);
    background: linear-gradient(rgba(3,63,71,0.9),rgba(3,63,71,0.9)),url(../../images/sidebar_img.avif);

  }
}