@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


:root {

--color-body: #b6cbce;
--color-heading: #ffe100;
--color-base: rgb(72, 74, 70);
--color-base2: #202222;
--sidebar-width: 240px;
--default-font-weight: 400;
--color-hover: #fc5203;
}

body {

background-color: var(--color-base2);
color: var(--color-body);
}

h1,h2,h3,h4,h5,h6 {

color: var(--color-heading);
font-weight: var(--default-font-weight);
font-family: 'Source Code Pro', monospace;
}

p{

  color: var(--color-body);
  font-weight: var(--default-font-weight);
  font-family: 'Source Code Pro', monospace;
  }

img {

width: 80%;
}
/* navbar class */

@media (min-width: 992px){

  .navbar{

    min-height: 100vh;  /* sidebar runs all the way down */
    width: var(--sidebar-width);
    background: linear-gradient(rgb(72, 74, 70,0.9),rgb(72, 74, 70,0.9)),url(../../static/sidebar.jpg);

  }

  .navbar-brand img {

    border: 5px solid var(--color-heading);
  }
}

.navbar .nav-link {

text-transform:uppercase;
color: var(--color-heading);
font-weight: 700;

}

.navbar .nav-link:hover {
color: var(--color-heading);
color: var(--color-hover);
}

/* content-wrapper is an id not a class */
#content-wrapper{

    padding-left: var(--sidebar-width);
}

.full-height {

  min-height: 100vh;
  height:100%;
  display: flex;
  align-items:center;
  flex-direction: column; /* makes new containers appaer one below another */
  justify-content: center;

}

.source_code_pro_font {

  font-family: 'Source Code Pro', monospace;
}

.source_code_pro_font_big {

  font-family: 'Source Code Pro', monospace;
  font-size: 5rem;
  font-weight: 800;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding-right: 15px;
}